/* Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { padding:0; margin:0; }
fieldset, img { border:0; }
address, caption, cite, code, dfn, em, th, var { font-weight:normal; font-style:normal; }
ol, ul { list-style:none; }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
q:before, q:after { content:''; }
abbr, acronym { border:0; }
/* End Reset */

.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{*zoom:1;}
input:focus,textarea:focus,select:focus{outline: none;}

/* Common */
.hidden { display:none; }
.clearfix:after, .phead:after, .pbody:after { content:"\0020"; display:block; clear:both; height:0; }
.clearfix { zoom:1; }
a {color:#000; text-decoration:none; }
a:hover {color:#3b7aa5; text-decoration:none; }
.tl { text-align:left; }
.tc { text-align:center; }
.tr { text-align:right; }
.fl { float:left; display:inline; }
.fr { float:right; display:inline; }
.f10 { font-size:10px; color:#fd2828; }
.f14 { font-size:14px; }
.f16 { font-size:16px; }
.f18 { font-size:18px; }
.f20 { font-size:20px; }
.f22 { font-size:22px; }
.f24 { font-size:24px; }
.f26 { font-size:26px; }
.f32 { font-size:32px; }
.fb { font-weight:bold; }
.clear { clear:both; }
.hidden { display:none; }
.black { color:#000; }
.red1 { color: #f00; }
.red2 { font-size:16px; color:#d10016; font-weight:bold; }
.red { font-size: 14px; font-weight: bold; color: #f00; }
.yellow { color:#FF9900; font-weight:bold; }
.bule{ color:#005eae; font-weight:bold;}
.font4 { font-weight: bold; color: #f00; }
.font5 { font-weight: bold; color: #000; }
.font6 { color:#ff0; font-weight:bold; }
.pt20 { padding-top: 20px; }
li { list-style:none; }
.bk{ border:5px #dbdbdb solid; padding:1px;}

body {width:100%; min-width:1200px; margin: 0 auto; font-size: 12px; color:#000; font-family: "微软雅黑"; background:#fff;}

.box{width:1200px; margin:0 auto;}

.header_bg,.nav_bg,.banner_bg,.incont_bg,.cont_bg,.footer_bg{width:100%; float: left; display:inline;}
.header,.nav,.cont,.foot{ width:1200px; margin: 0 auto;}


/*头部信息css*/
.header_bg{ background:#fff; padding:20px 0;}
.header_bg .logo{width:770px; float:left; margin-left:-20px; padding-top:10px;}
.header_bg .hright{width:340px; float:right;}


/*导航菜单css*/
.nav_bg{ background:url(http://www.niuniuds.com/static/images/nav_bg.jpg) top center no-repeat; height:90px;}
#nav{width:100%;margin:0 auto; display:block;overflow:hidden;}
#navMenu ul{width:100%;float:left;}
#navMenu li{float:left; padding:0 20px; line-height:80px; font-size:16px; color:#000;}
#navMenu li a.current{background-position:0 -80px; text-align:center;display:block;}
#navMenu li a:hover{background-position:0 -40px;}

#navMenu li.line{width:1px; padding:0;}
#navMenu li.login{ padding:0 0 0 50px;}
#navMenu li.login .login_left{ float:left; padding:0 15px 0 0;}
#navMenu li.login .login_right{ float:right; padding:0 0 0 15px; color:#828f97;}
#navMenu li.login .login_right a{color:#828f97;}
#navMenu li.login .login_right a:hover{color:#f00; text-decoration:underline;}
#navMenu li.login em.login_regst{width:32px; height:32px; float:left; background:url(http://www.niuniuds.com/static/images/login_icon.jpg) no-repeat; background-position:0 0; margin:22px 5px 0 0;}
#navMenu li.login em.login_login{width:32px; height:32px; float:right; background:url(http://www.niuniuds.com/static/images/login_icon.jpg) no-repeat; background-position:-34px 0; margin:22px 0 0 5px;}
/*-------- 下拉菜单 --------------*/
.dropMenu{position:absolute;top:0;z-index:100; visibility:hidden;margin:10px 0 0 -20px; background:rgba(39,88,121,0.3); font-size:16px; color:#fff;}
.dropMenu li{float:left; line-height:40px; text-align:center; border-right:1px #275879 solid;}
.dropMenu li a{display:block;color:#fff; padding:0 20px;}
.dropMenu a:hover{color:#fff; background:rgba(39,88,121,1)}
.dropMenu li.last{ border:none;}


/*banner css*/
.banner_bg{width:100%; float:left; height:500px;}
.fullSlide{width:100%;position:relative;height:500px; }
.fullSlide .bd{margin:0 auto;position:relative;z-index:0;overflow:hidden;}
.fullSlide .bd ul{width:100% !important;}
.fullSlide .bd li{width:100% !important;height:500px;overflow:hidden;text-align:center;}
.fullSlide .bd li a{display:block;height:500px;}
.fullSlide .hd{width:100%;position:absolute;z-index:10000000;bottom:0px;left:0;height:30px;line-height:30px;}
.fullSlide .hd ul{text-align:center;}
.fullSlide .hd ul li{cursor:pointer;display:inline-block;*display:inline;zoom:1;width:42px;height:11px; margin:2px; overflow:hidden; background:#fff; filter:alpha(opacity=50);opacity:0.5;line-height:999px;}
.fullSlide .hd ul .on{background:#66aaff;}
.fullSlide .prev,.fullSlide .next{position:absolute;z-index:1;top:40%;left:3% ;width:100px;height:100px;background:url(http://www.niuniuds.com/static/images/slider-arrow.png) 0px -85px no-repeat;cursor:pointer; filter:alpha(opacity=50);opacity:0.5;display:none;}
.fullSlide .next{left:auto;right:3%;background-position:-100px -85px;}


/*首页主体部分css*/
.incont_bg{width:100%; float:left; background:url(http://www.niuniuds.com/static/images/incont_bg.jpg) top center no-repeat; padding:50px 0;}

.innotice{width:100%; float:left; border-bottom:3px #9a9a9a solid; color:#890000; line-height:40px; font-size:16px; margin-bottom:50px;}
.innotice_icon{float:left; font-weight:bold; margin-right:25px;}
.innotice_icon img{ margin:0px 8px -4px 0;}
.innotice ul li{width:80%; float:left; color:#696968;}
.innotice li em{ color:#890000; margin-right:10px;}
.innotice li a{color:#696968;}
.innotice li a:hover{color:#890000;}

.invideo{width:530px; height:245px; float:left; background:#275879;}
.pc_web{width:320px; float:left; background:#fff; margin:0 20px;}
.mobile_web{width:307px; float:left; background:#fff;}
.pc_web_top,.mobile_web_top{width:90%; height:40px; line-height:40px; font-size:16px; margin-left:8%;}
.pc_web_top img,.mobile_web_top img{ margin-left:20px;}
.pc_web_info,.mobile_web_info{width:100%;}
.pc_web a:hover,.mobile_web a:hover{ color:#275879;}

.banner_x{width:100%; float:left; height:247px; background:url(http://www.niuniuds.com/static/images/banner_x.png) top center no-repeat; margin:100px 0 70px;}


/*首页臻品展示css*/
.home_product{width:100%; float:left; position:relative; height:580px;}
.home_product h1{width:100%; float:left; font-size:50px; color:#000; text-align:center; letter-spacing: 15px; padding-bottom:25px;}
#slider{width:1170px;overflow:hidden;padding:0px 15px;position:relative;margin:0 auto;}
.scroll{width:1100px;margin:0 auto;overflow:hidden;position:relative;}
.scrollContainer{position: relative;width:1815px;left:0px;}
.scrollContainer .current .inside{width:260px;}
.scrollContainer .panel{width:200px; float: left; margin-left:30px;display:inline; margin-top:40px;}
.panel .inside{display:block;position:relative; }
.inside img{height:100%;width:100%; border-radius:50%;}
.scroll li .inside span{width:100%; display:block; font-size:24px;color:#000; font-weight:bold; text-align:center; padding:10px 0;}
.scroll li.current .inside span{display:block;}
/**.scroll li.current{ margin-top:0;}**/
.btnMode a.btn{background:url(http://www.niuniuds.com/static/images/index.png) no-repeat;}
.btnMode a.btn{width:68px; height:63px;position:absolute;top:125px;}
.btnMode a.prev{left:0;background-position:0 0px;}
.btnMode a.prev:hover{background-position:0 -65px;}
.btnMode a.next{right:0;background-position:-68px 0px;}
.btnMode a.next:hover{background-position:-68px -65px;}
#slider .home_text{margin:0 auto; width:45%; overflow:hidden;}
#slider .home_text p{font-size:15px; line-height:18px; float:right; width:20px; writing-mode:tb-rl;word-wrap: break-word; margin-right:2px;}
#slider .home_text1{margin:0 auto; width:55%; overflow:hidden;}
#slider .home_text1 p{font-size:15px; line-height:18px; float:right; width:20px; writing-mode:tb-rl;word-wrap: break-word; margin-right:2px;}
#slider li.current .home_text{margin:0 auto; width:36%; overflow:hidden;}
#slider li.current .home_text1{margin:0 auto; width:45%; overflow:hidden;}



/*首页合作伙伴css*/
.incooperation{width:100%; float:left; margin:120px 0 35px;}
.incooperation_top{width:95%; float:left; font-size:28px; line-height:52px; margin-left:1%; background:url(http://www.niuniuds.com/static/images/cooperation_icon.png) left center no-repeat; padding-left:4%;}
.incooperation_info{width:100%; float:left; margin-top:40px;}
.incooperation_info ul li{width:25%; float:left; text-align:center;}


/*底部信息css*/
.footer_bg{ background:#f2f2f2; padding:35px 0 10px;}
.footer_bg ul li{width:14.5%; float:left; color:#999;}
.footer_bg li.wx{width:13%; text-align:center;}
.footer_bg li span{font-size:18px; border:2px #aeaeae solid; padding:5px 15px;}
.footer_bg li p{ font-size:14px;/* line-height:35px;*/ margin-top:5px; text-indent:1.2em;}
.footer_bg li.wx i{font-size:14px; line-height:35px; font-style:normal;}
.footer_bg li a{ color:#999;}
.footer_bg li a:hover{ color:#ff0;}
.copy{float:left; width:100%; color:#fff; line-height:35px; text-align:center;}
.copy a{color:#fff;}
/*底部浮动信息css*/
.floating_ck{position:fixed;right:5px;bottom:15%;}
.floating_ck dl dd{position:relative;width:52px;height:52px;background-color:#77ac26; margin-bottom:5px; border-radius:6px; text-align:center;background-repeat:no-repeat;background-position:center 20%;cursor:pointer;}
.floating_ck dl dd:hover{background-color:#77ac26;}
.floating_ck dl dd:hover .floating_left{display:block; color:#fff;line-height:52px;}
.consult,.words{background:url(http://www.niuniuds.com/static/images/tel_icon1.png);}
.quote{background-image:url(http://www.niuniuds.com/static/images/qq_icon1.png);}
.qrcord{background-image:url(http://www.niuniuds.com/static/images/wx_icon1.png);}
.return{background:url(http://www.niuniuds.com/static/images/top_icon1.png);}
.floating_ck dd span{color:#fff;display:block;padding-top:54px;}
.floating_left{position:absolute;left:-112px;top:0px;width:165px;height:52px; font-size:16px;background-color:#77ac26; display:none; border-radius:6px;}
.floating_left img{ margin:0 8px -8px 0;}
.floating_left a{color:#fff;line-height:52px;}
.floating_ewm{height:180px;top:0px;}
.floating_ewm i{display:block; margin:auto; margin-top:7px;}
.floating_ewm p{color:#fff;}
.floating_ewm .qrcord_p01{font-size:16px;line-height:20px; margin:10px 0;}
.floating_ewm .qrcord_p02{font-size:18px;}



/*内页banner css*/
.about_banner{width:100%; float:left; height:460px; background:url(http://www.niuniuds.com/static/images/about_banner.jpg) top center no-repeat;}
.about_bg{width:100%; float:left; background:#fff url(http://www.niuniuds.com/static/images/about_bottom.jpg) bottom center no-repeat; padding:50px 0; min-height:900px;}
.about_left{width:250px; float:left; background:#fff; box-shadow:5px 5px 15px #ccc;}
.about_left_top{width:100%; float:left; height:35px; line-height:35px; text-align:center; font-size:18px; color:#000; background:url(http://www.niuniuds.com/static/images/about_left_icon.png) top center no-repeat; margin-top:-8px;}
.about_left_info{width:100%; float:left; padding:30px 0;}
.about_left_info ul li{width:73%; float:left; margin-left:15%; height:42px; line-height:42px; font-size:14px; border-bottom:1px #ccc dashed;}
.about_left_info li em{ color:#dbd5c5; margin-right:8px;}

.about_right{width:900px; float:right;}
.about_right_top{width:100%; float:left; height:45px; line-height:45px; text-align:right; border-bottom:1px #ccc dashed; font-size:14px;}
.about_right_info{width:100%; float:left; padding-top:30px;}
.about_right_info h1{width:100%; float:left; font-size:45px; margin-bottom:50px;}
.about_right_info h1 span{ font-size:22px; font-weight:normal; display:block;}
.about_right_info p{ font-size:16px; line-height:32px; text-indent:2em; padding:5px 0;}

.Brand_bg{width:100%; float:left; background:#fff;padding:50px 0;}
.brand_img{ float:right; text-align:right; padding:50px 0;}
.remarks_img{float:right; text-align:right; padding:0px 0 0 30px;}
.Brand_dt{background: url('http://www.niuniuds.com/static/images/ditu.jpg') bottom center no-repeat;}
.Brand_wenhua{background: url('http://www.niuniuds.com/static/images/500268715.jpg') bottom center no-repeat;}
.Brand_dsz{background-image: url('http://www.niuniuds.com/static/images/123456789.jpg');background-size: cover;}
.Brand_zjtd{background-image: url('http://www.niuniuds.com/static/images/zjtd.jpg');background-size: cover;}


.xsgj_right_info{width:100%; float:left; padding-top:30px;}
.xsgj_right_info h1{width:100%; float:left; font-size:45px; margin-bottom:50px;}
.xsgj_right_info h1 span{ font-size:22px; font-weight:normal; display:block;}
.xsgj_right_info p{ font-size:16px; line-height:32px; text-indent:2em; padding:5px 0;}
.xsgj_right_info ul li{width:50%; float:left; text-align:center; margin-bottom:30px;}


/*必莱鉴赏css*/
.appreciation_banner{width:100%; float:left; height:665px; background:url(http://www.niuniuds.com/static/images/appreciation_banner.jpg) top center no-repeat;}
.design_bg{width:100%; float:left; background:#fff url(http://www.niuniuds.com/static/images/design_bg.jpg) bottom center no-repeat; padding:50px 0; min-height:900px;}
.appreciation_right_info{width:100%; float:left; padding-top:30px;}
.appreciation_right_info p{ font-size:16px; line-height:32px; text-indent:2em; padding:10px 0;}

/*作品鉴赏css*/
#focus_Box{position:relative;width:500px; min-height:1350px;margin:20px auto;}
#focus_Box ul{position:relative;width:100%; float:left;}
#focus_Box li{z-index:0;position:absolute; width:0px;background:#787878;height:0px;top:146px;cursor:pointer;left:377px;border-radius:4px;box-shadow:1px 1px 12px rgba(200, 200, 200, 1)}
#focus_Box li img{width:100%; height:100%;vertical-align:top; box-shadow:0 0 10px #ccc;}
#focus_Box li p{position:absolute;left:0;bottom:0px;width:100%;height:40px;line-height:40px;background:url(http://www.niuniuds.com/static/images/float-bg.png) repeat;text-indent:8px;color:#fff;}
#focus_Box li p span{display:inline-block;width:70%;height:40px;overflow:hidden;}
#focus_Box .prev,#focus_Box .next{display:block;z-index:100;overflow:hidden;cursor:pointer;position:absolute;width:64px;height:58px;/*top:131px;*/}
#focus_Box .prev{background:url(http://www.niuniuds.com/static/images/btn.png) left bottom no-repeat;top:-30px; left:185px;}
#focus_Box .next{background:url(http://www.niuniuds.com/static/images/btn.png) right bottom no-repeat;top:1320px; left:185px;} 
#focus_Box .prev:hover{background-position:left top;}
#focus_Box .next:hover{background-position:right top;}



.process_bg{width:100%; float:left; background:#fff url(http://www.niuniuds.com/static/images/process_bg.jpg) bottom center no-repeat; padding:50px 0; min-height:900px;}
.process_right_info{width:100%; float:left; padding:30px 0 0px 0px;}
.process_right_info p{ font-size:16px; line-height:29.5px; text-indent:2em; padding:5px 0;}
.process_right_info h3{ font-size:20px; font-weight:bold;}
.process_right_info ul li{width:100%; float:left; margin-bottom:25px;}
.process_right_info li .process_img{width:100%; text-align:center;}

/*分页css*/
.page{text-align:center; width:100%; clear:both; margin:0 auto; line-height:26px; padding:20px 0 20px; font-size:15px;}
.page span{line-height:30px; margin-left:15px; color:#000; background:#fff; border:1px #000 solid; padding:0 10px; width:8%; display:inline-block;}
.page a span:hover{background:#d1b699; cursor:pointer; color:#fff;}


/*必莱动态css*/
.news_banner{width:100%; float:left; height:460px; background:url(http://www.niuniuds.com/static/images/about_banner.jpg) top center no-repeat;}
.news_bg{width:100%; float:left; background:#fff; padding:50px 0;}
.news_right_info{width:100%; float:left; padding:30px 0 0px 0px;}
.news_right_info p{ font-size:16px; line-height:30px; text-indent:2em; padding:5px 0;}
.news_right_info ul li{width:100%; float:left; line-height:45px; border-bottom:1px #ccc dashed; font-size:15px;}
.news_right_info li em{ margin-right:8px;}
.newsview{width:100%; float:left;}
.biao{ font-size:22px; font-weight:bold; line-height:45px; text-align:center;}
.zhengwen{width:100%; float:left; line-height:24px; font-size:15px; margin-top:30px;}
.zhengwen p{ text-indent:2em; padding:5px 0;}
.zhengwen ul li{width:50%; float:left; text-align:center; border-bottom:0; padding-bottom:15px; min-height:360px;}
.zhengwen li img{ padding-bottom:15px;}
.zhengwen li p{ text-indent:0; line-height:24px; padding:0; font-size:13px;}


/*必莱公益css*/
.public_banner{width:100%; float:left; height:463px; background:url(http://www.niuniuds.com/static/images/public_banner.jpg) top center no-repeat;}
.public_bg{width:100%; float:left; background:url(http://www.niuniuds.com/static/images/public_bg.jpg) top center no-repeat; height:688px;}


/*消费商服务css*/
.open_bg{width:100%; float:left; background:#fff; padding:50px 0;}
.open_right_info{width:100%; float:left; padding-top:30px;}
.open_right_info h1{width:100%; float:left; font-size:45px; margin-bottom:50px;}
.open_right_info h1 span{ font-size:22px; font-weight:normal; display:block;}
.open_right_info p{ font-size:16px; line-height:26px; padding:5px 0;}
.open_right_info b{ font-size:20px; margin:45px 0 10px; float:left; width:100%;}

.school_left{width:480px; float:left; padding-right:25px;}

.eshop_right_info{width:100%; float:left; padding-top:30px;}
.eshop_right_info h1{width:100%; float:left; font-size:45px;}
.eshop_right_info h1 span{ font-size:22px; font-weight:normal; display:block;}
.eshop_right_info p{ font-size:16px; line-height:26px; padding:5px 0;}
.eshop_right_info b{ font-size:20px; margin:45px 0 10px; float:left; width:100%;}


/*联系方式css*/
.contact_banner{width:100%; float:left; height:650px; background:url(http://www.niuniuds.com/static/images/contact_banner.jpg) top center no-repeat;}

.contact_right_info{width:100%; float:left; margin-top:50px; background:url(http://www.niuniuds.com/static/images/contact_infobg.jpg) top center no-repeat; min-height:350px;}
.contact_right_info h1{width:22%; float:left; font-size:30px; margin:60px 0 0 4%;}
.contact_right_info h1 span{ font-size:16px; font-weight:normal; display:block;}
.contact_right_info .contact_info{width:40%; float:left; margin-top:13%;}
.contact_right_info p{ font-size:14px; line-height:21px; padding:2px 0;}
.contact_right_info b{ font-size:25px; float:left; width:100%;}
.contact_right_info span{font-size:12px; float:left; width:100%; margin-bottom:25px;}
.contact_right_info .contact_img{width:100%; float:left; text-align:center; margin-top:50px;}
.contact_right_info .contact_img p{ font-size:16px;}

.join_right_info{width:100%; float:left; margin-top:30px;}
.join_right_info h1{width:100%; float:left; font-size:45px; margin-bottom:50px;}
.join_right_info h1 span{ font-size:22px; font-weight:normal; display:block;}
.join_right_info p{ font-size:16px; line-height:26px; padding:8px 0; text-indent:2em;}
.join_right_info b{ font-size:20px; margin:45px 0 10px; float:left; width:100%;}

/*咨询留言css*/
.message_cont{width:100%; float:left; margin:20px 0;}
.message_leave{width:98%; float:left; margin:0 1% 20px; border:1px #d5d5d5 solid;}
.message_leave b{width:98%; float:left; font-size:18px; font-weight:bold; height:50px; line-height:50px; padding-left:2%;}
.message_leave ol li{width:21.9%; float:left; font-size:14px; line-height:40px; height:40px; padding-left:3%; border-bottom:1px #efefef solid;}
.message_leave ol li.message_x{width:1px; float:left; background:#efefef; padding:0;}
.message_leave ol li.liuyan{width:96.9%; float:left;}
.message_top{width:100%; float:left; margin:20px 0 0; height:45px; line-height:45px; text-align:center; font-size:18px; font-weight:bold; background:#e3e3e3;}

.message_info{width:100%; float:left; padding:20px 0; margin-bottom:20px;}
.message_info h2{ font-size:30px; text-align:center; width:100%; float:left; margin:25px 0;}
.message_info ol li{width:100%; float:left; margin:10px 0; height:42px;}
.message_info ol li span{width:100px; float:left; font-size:16px; line-height:42px; text-align:right; padding-right:20px;}
.message_info li input{width:650px; float:left; line-height:42px; height:42px; border:1px #ccc solid; border-radius:8px; padding:0 15px;}
.message_info li.nr{width:100%; height:120px;}
.message_info li textarea{width:650px; float:left; line-height:30px; height:120px; border-radius:8px; border:1px #ccc solid; padding:0 15px;}
.message_info li input.anniu{width:120px; float:left; height:35px; line-height:35px; margin-left:120px; cursor:pointer; font-family:"微软雅黑"; background:#38bbff; color:#fff; border:none; font-size:15px;}
.message_info li input.anniu1{width:120px; float:left; height:35px; line-height:35px; margin-left:20PX; cursor:pointer; font-family:"微软雅黑"; background:#c0bdc0; border:none; font-size:15px;}
.message_info li.yzm{width:100%; height:42px;}
.message_info li input.yzm{width:400px;}
.message_info li .yzm_img{width:100px; float:left; margin:15px 0 0 10px;}
.message_info li .yzm_img img{width:20%;}
.message_page{width:50%; margin:0 auto 20px; text-align:center;}
.message_page span{line-height:24px; margin-left:15px; color:#000; background:#fff; border:1px #efefef solid; padding:0 5px; width:10%; display:inline-block;}
.message_page span a,.message_page a span{display:block;}
.message_page span a:hover,.message_page a span:hover,.message_page span:hover{background:#009140; cursor:pointer; color:#fff;}

.mobile_banner{width:100%; float:left; height:529px; background:url(http://www.niuniuds.com/static/images/mobile_banner.jpg) top center no-repeat;}
.login_btn{font-size: 20px; padding: 5px 10px;background-color: red;color: #fff;}
.login{width: 100%;height: 630px;}
#niuLogin{margin-left: 50px;}
#niuLogin input,#niuLogin button{display: block;margin: 10px;font-size: 16px;line-height: 36px;border: 1px solid #ccc;}
#niuLogin input{padding-left: 10px;width: 236px;}
#niuLogin button{width: 237px;cursor: pointer;background-color: #1168B6;color: #fff;}
.register_top{height: 100px;width: 100%;}
.register{display: block;clear: both; width: 855px;height: 425px;margin: 80px auto;}
.register_left{width: 488px;height: 425px;display: inline-block;float: left;background:url(../images/niu.png);}
.register_right{width: 366px;height: 425px;display: inline-block;float: left; box-shadow: 2px 0px 7px #ccc;}
.register_right img{ margin: 20px 110px;}
#remember{width: 20px !important; height: 15px;display: inline-block!important;}
.register_footer{height: 48px;background-color: #F0F0F0;color:  #696969;margin-top: 23px;text-align: center;line-height: 48px;font-size: 14px;}
.login_footer{height: 48px;background-color: #F0F0F0;color:  #696969;margin-top: 74px;text-align: center;line-height: 48px;font-size: 14px;}
.register_footer a{color: #1168B6;}
.login_footer a{color: #1168B6;}
